# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import scipy.stats as std
import numpy as np
import pandas as pd
import data_check as ch

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
ch.check(pokemon)

Number of columns: 13 and rows: 800

Data types:
#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

Unique values count:
#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

These columns appear to be categorical (less than 20 unique values):
Index(['Type 1', 'Type 2', 'Generation', 'Legendary'], dtype='object')

Unique value count for categorical columns:

Type 1:
Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Type 2:
Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Ice         14
Rock        14
Water       14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

Generation:
Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

Legendary:
Legendary
False    735
True      65
Name: count, dtype: int64

Count of null values:
#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Count of duplicated values:
0

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
legendary_counts = pokemon["Legendary"].value_counts()
legendary_counts

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
legendary_stats = pokemon.groupby("Legendary")["Total"].agg(["mean", "std"])
legendary_stats

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:

# Hypotheses
null_hypothesis = "There is no significant difference between the means of the two groups"  # H₀
alt_hypothesis = "There means of points between the two groups is not equal"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

legendary_t = pokemon[pokemon["Legendary"] == True]["Total"]
legendary_f = pokemon[pokemon["Legendary"] == False]["Total"]

# Two-sample t-test for independent samples
t_stat, p_value = std.ttest_ind(legendary_t, legendary_f, equal_var=False)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.60f}")
print()

Null Hypothesis (H₀): There is no significant difference between the means of the two groups
Alternate Hypothesis (H₁): There means of points between the two groups is not equal
Test Statistic (t): 25.83
P-Value: 0.000000000000000000000000000000000000000000000093579543359574

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean points for legendary and non-legendary Pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean fares are different for legendary and non-legendary Pokemons.")

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean fares are different for legendary and non-legendary Pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

type_counts = pokemon["Type 1"].value_counts()
type_counts

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

water_pokemon = pokemon[pokemon["Type 1"] == "Water"]["Total"]
non_water_pokemon = pokemon[pokemon["Type 1"] != "Water"]["Total"]

water_mean = water_pokemon.mean()
water_std = water_pokemon.std()

non_water_mean = non_water_pokemon.mean()
non_water_std = non_water_pokemon.std()

print(f"Water Pokémon Mean: {water_mean:.2f} and Std Dev: {water_std:.2f}")
print(f"Non-Water Pokémon Mean: {non_water_mean:.2f} and Std Dev: {non_water_std:.2f}")

Water Pokémon Mean: 430.46 and Std Dev: 113.19
Non-Water Pokémon Mean: 435.86 and Std Dev: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:

# Hypotheses
null_hypothesis = "There is no significant difference between the means of the two groups"  # H₀
alt_hypothesis = "There means of points between the two groups is not equal"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

# Two-sample t-test for independent samples
t_stat, p_value = std.ttest_ind(water_pokemon, non_water_pokemon, equal_var=True)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.2f}")
print()

Null Hypothesis (H₀): There is no significant difference between the means of the two groups
Alternate Hypothesis (H₁): There means of points between the two groups is not equal
Test Statistic (t): -0.44
P-Value: 0.66

Write your conclusion below.

In [12]:
# Your conclusions here:

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean points for water and non-water Pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean fares are different for water and non-water Pokemons.")

Fail to Reject the Null Hypothesis: The mean points for water and non-water Pokemons are not significantly different.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:

# Hypotheses
null_hypothesis = "There is no significant difference between Attack and Defense scores"  # H₀
alt_hypothesis = "There is a significant difference between Attack and Defense scores"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

# Two-sample t-test for dependent samples
t_stat, p_value = std.ttest_rel(pokemon["Attack"], pokemon["Defense"])

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.10f}")

Null Hypothesis (H₀): There is no significant difference between Attack and Defense scores
Alternate Hypothesis (H₁): There is a significant difference between Attack and Defense scores
T-statistic: 4.3256
P-value: 0.0000171403

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
if p_value > alpha:
    print("Fail to reject the null hypothesis: No significant difference between Attack and Defense scores.")
else:
    print("Reject the null hypothesis: There is a significant difference between Attack and Defense scores.")

Reject the null hypothesis: There is a significant difference between Attack and Defense scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# Your code here:

# Hypotheses
null_hypothesis = "The mean Special Attack and Special Defense are equal"  # H₀
alt_hypothesis = " The mean Special Attack and Special Defense are different"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

# Two-sample t-test for dependent samples
t_stat, p_value = std.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.10f}")

Null Hypothesis (H₀): The mean Special Attack and Special Defense are equal
Alternate Hypothesis (H₁):  The mean Special Attack and Special Defense are different
T-statistic: 0.8540
P-value: 0.3933685998

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:

if p_value > alpha:
    print("Fail to reject the null hypothesis: No significant difference between Special Attack and Special Defense scores.")
else:
    print("Reject the null hypothesis: There is a significant difference between Special Attack and Special Defense scores.")

Fail to reject the null hypothesis: No significant difference between Special Attack and Special Defense scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [17]:
# Your code here:

# Hypotheses
null_hypothesis = "The mean difference between Attack and Defense is zero"  # H₀
alt_hypothesis = "The mean difference is not zero"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

diff = pokemon["Attack"] - pokemon["Defense"]

# one-sample t-test
t_stat, p_value = std.ttest_1samp(diff, 0)

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.10f}")  

if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between Attack and Defense.")
else:
    print("Fail to reject the null hypothesis: No significant difference between Attack and Defense.")

Null Hypothesis (H₀): The mean difference between Attack and Defense is zero
Alternate Hypothesis (H₁): The mean difference is not zero
T-statistic: 4.3256
P-value: 0.0000171403
Reject the null hypothesis: There is a significant difference between Attack and Defense.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [18]:
# Your code here:

pokemon['Is_Water_Type'] = pokemon['Type 1'] == 'Water'

# Create a contingency table comparing Legendary status and Water type
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Is_Water_Type'], 
                                rownames=['Legendary'], colnames=['Water Type'])

contingency_table

Water Type  False  True
Legendary
False         627    108
True           61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [19]:
# Your code here:

# Hypotheses
null_hypothesis = "There is no association between whether a Pokémon is legendary or not and whether its Type 1 is water or not"  # H₀
alt_hypothesis = " There is an association between whether a Pokémon is legendary or not and whether its Type 1 is water or not"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

chi2, p, dof, expected = std.chi2_contingency(contingency_table)

print(f"Chi-squared statistic: {chi2}")
print(f"p-value: {p}")
print(f"Degrees of freedom: {dof}")
print(f"Expected frequencies table:\n{expected}")

Null Hypothesis (H₀): There is no association between whether a Pokémon is legendary or not and whether its Type 1 is water or not
Alternate Hypothesis (H₁):  There is an association between whether a Pokémon is legendary or not and whether its Type 1 is water or not
Chi-squared statistic: 2.9429200762850503
p-value: 0.0862546724955095
Degrees of freedom: 1
Expected frequencies table:
[[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [20]:
# Your answer here:

if p_value > alpha:
    print(f"Fail to reject the null hypothesis: There is no association between whether a Pokémon is legendary or not and whether its Type 1 is water or not.")
else:
    print(f"We reject the null hypothesis: There is an association between whether a Pokémon is legendary or not and whether its Type 1 is water or not.")

We reject the null hypothesis: There is an association between whether a Pokémon is legendary or not and whether its Type 1 is water or not.